################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/lab1_DKA_NKA/v15/ipch/AutoPCH/4cc1e1ca63551ac9
